
<ion-content>

  <div class="content"
  style=" width:100%;background:#53bdc4;height: 80px;border-bottom-left-radius: 200px;border-bottom-right-radius:200px ;">
  <ion-icon name="caret-back-outline"  (click)="back()"
    style="margin-left: 20px; width: 25px; height: 25px;margin-bottom: -20px;"></ion-icon>
  <h4 style="justify-content: center; display: flex;color: white;">Settings</h4>
</div>

  
<ion-card-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Reset your password</ion-label>
      <ion-input type="email"[(ngModel)]="email"  placeholder="Enter your email here"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="resetPassword()" style="--background:#53bec5 ;">Reset Password</ion-button>
  </ion-list>

  
  <ion-card-content>
    <ion-list>
      <ion-toggle checked></ion-toggle>
      <h1>Nofiications </h1>
      <p>Do not disturb <ion-icon  style="width: 16px;height: 16px;" name="toggle-outline"></ion-icon></p>
      <p>Notification Management</p>
    
    </ion-list>
  </ion-card-content>

  <ion-card-content>
    <ion-list>
      <h1>Follow us</h1>
      <p><ion-icon style="width: 20px;height: 20px;" name="logo-instagram"></ion-icon>&nbsp;&nbsp;&nbsp;Instagram</p>
      <p><ion-icon name="logo-facebook" style="width: 20px;height: 20px;"></ion-icon>&nbsp;&nbsp;&nbsp;Facebook</p>
      <p><ion-icon name="logo-youtube"style="width: 20px;height: 20px;" ></ion-icon>&nbsp;&nbsp;&nbsp;Youtube</p>
      <p><ion-icon  style="width: 20px;height: 20px;" name="logo-twitter"></ion-icon>&nbsp;&nbsp;&nbsp;Twitter</p>

    </ion-list>
  </ion-card-content>

  <ion-card-content>
    <ion-list>
      <h1>About</h1>
      <p>Support</p>
      <p>Feature requests</p>
      <p>Guidelines</p>
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
      <p>Check for updates</p>
    </ion-list>
  </ion-card-content>
  
</ion-card-content>
<ion-button color="clear" (click)="logout()" style="margin-left:80%; background:#53bdc4;"><ion-icon name="log-out-outline"></ion-icon></ion-button>
</ion-content>

