<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Menu</ion-title>
    <ion-button color="dark" href="./loginr">
      <ion-icon  name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon  name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#53bec5;">
<p style="margin-left: 5px;">Please press the add icon to update staff details</p>
<br>
<div class="row" style="margin-left: 5px;">
  <div class="col-md-12">
      <div class="form-group">
        <label>File Uploads</label>
          <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%;" accept="image/*">
      </div>
  </div>
  <ion-button (click)="save()" color="dark" shape="round">load</ion-button>
</div>


<div>
  <ion-card  *ngFor="let image of images">
    <ion-item>
      <ion-icon name="pin" slot="end  "></ion-icon>
      <ion-label>{{image.name}}</ion-label>
      <br>
      
        <img [src] = "image.url">
      <br>
    </ion-item>
    <ion-card-content style="justify-content: center;text-align: center;font-family:cursive;color:#53bec5; font-size:larger;">
      <ion-icon name="planet"></ion-icon>&nbsp;  K-FOOD 

     
    </ion-card-content>
  </ion-card>
</div>





<!-- <table class="table table-bordered">
 >
  <tbody>
    <tr *ngFor="let image of images">
      <td><img [src] = "image.url" style="height: 30px; width: 30px; "></td>
      <td>{{image.name}}</td>
      <td>{{image.type}}</td>
      <td>{{image.size}}</td>
      <td><a href="javascript:void(0)" (click)="deleteImage(image)">delete
        <i class="fa fa-trash"></i>
      </a></td>
    </tr>
  </tbody>
</table> -->


</ion-content>
