
<ion-content style="--background:#53bec5;">
  <div class="content"
  style=" width:100%;background:#53bdc4;height: 80px;border-bottom-left-radius: 200px;border-bottom-right-radius:200px ;">
  <ion-icon name="caret-back-outline"  (click)="back()"
    style="margin-left: 20px; width: 25px; height: 25px;margin-bottom: -20px;"></ion-icon>
  <h4 style="justify-content: center; display: flex;color: white;">Menu</h4>
  <ion-button  style="margin-left: 75%;color: black; --background: white;" (click)="presentAlertPrompt()">ADD</ion-button>
</div>
  
    <div style="width: 100%; height: 20%;background:white; justify-content: center;
    border-top-right-radius: 400px;border-bottom-left-radius: 400px;">
      <img src="./assets/logo.png" style="width: 140px; height: 140px;margin-left:30%;">
    </div>
<!-- <p style="margin-left: 5px; border-top-right-radius:25px">Please press the add icon to update staff details</p> -->
<br>
<div class="row" style="margin-left: 5px;">
  <div class="col-md-12">
      <div class="form-group">
        <label style="font-size: medium;">Please Upload dishes that are available</label>
          <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%;" accept="image/*">
      </div>
  </div>
  <ion-button (click)="save()" color="dark" shape="round">load</ion-button>
</div>


<div>
  <ion-card  *ngFor="let image of images"style="margin-top: 15px;">
    <ion-item>
      <ion-icon name="pin" slot="end  "></ion-icon>
      
      <ion-label>{{image.name}}</ion-label>
      <br>
      
        <img [src] = "image.url">
      <br>
    </ion-item>
    <ion-card-content style="justify-content: center;text-align: center;font-family:cursive;color:#53bec5; font-size:larger;">
      <ion-icon name="planet"></ion-icon>&nbsp;  K-FOOD 
      <ion-icon name="trash-outline" (click)="deleteImage(image)"></ion-icon>
      
    </ion-card-content>
  </ion-card>
</div>





<!-- <table class="table table-bordered">
 >
  <tbody>
    <tr *ngFor="let image of images">
      <td><img [src] = "image.url" style="height: 30px; width: 30px; "></td>
      <td>{{image.name}}</td>
      <td>{{image.type}}</td>
      <td>{{image.size}}</td>
      <td><a href="javascript:void(0)" (click)="deleteImage(image)">delete
        <i class="fa fa-trash"></i>
      </a></td>
    </tr>
  </tbody>
</table> -->


</ion-content>
