
<ion-content>

  <div class="content"
  style=" width:100%;background:#53bdc4;height: 80px;border-bottom-left-radius: 200px;border-bottom-right-radius:200px ;">
  <ion-icon name="caret-back-outline"  (click)="back()"
    style="margin-left: 20px; width: 25px; height: 25px;margin-bottom: -20px;"></ion-icon>
  <h4 style="justify-content: center; display: flex;color: white;">View Booking</h4>
</div>
<br>
<section>
  <ion-card style="background: #53bdc4;">
    <h2>Booking History</h2>
  </ion-card>
  <br>
  <ion-list>
    <!-- <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor= "let p of restaurants" >
          <ion-card>
            <img src="{{p?.Profilepic}}">
            <ion-card-title>
              <h2><ion-icon name="home-outline"></ion-icon> {{p?.restaname}}</h2>
              <h4><ion-icon name="pin"></ion-icon>&nbsp;&nbsp;{{p?.location}}</h4>
            </ion-card-title>
            <ion-card-content>
             <p>Mail us: <ion-icon name="mail-unread-outline">&nbsp;{{p?.email}}</ion-icon></p>
             <ion-button style="--background:#53bdc4;" expand="full" [routerLink]="'/cart/' + p?.ownerId" >Reserve a table</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> -->


    <ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let p of reservations">
            <ion-card>
              <ion-item>
                <p> Reservation under:&nbsp;&nbsp;{{p?.resname}} <br>
                    Number of People:&nbsp;&nbsp;{{p?.noOfPeople}} <br>
                    Date selected:&nbsp;&nbsp;{{p?.date}} <br>
                  Time selected:&nbsp;&nbsp;{{p?.time}} <br>
                  Email:&nbsp;&nbsp;{{p?.resEmail}} <br>
              

                </p>
              </ion-item>
              <ion-button shape="round" color="success" style="margin-left:35%"  (click)="showAlert()" (click)="truthClick()" [disabled]="disableButton">accept</ion-button>
              <ion-button  shape="round" color="danger" style="margin-left:35%" (click)="declineAlert()" (click)="truthClick()" [disabled]="disableButton">decline</ion-button>
            
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</section>



</ion-content>