<ion-content class="ion-padding">
  <ion-card>  
    <ion-card-header>
      <ion-card-title style="text-align: center;">Forget Password </ion-card-title>
      <ion-card-subtitle>Please enter your email address</ion-card-subtitle><br><br>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email address</ion-label>
          <ion-input type="email"[(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

  
  <ion-button expand="block" shape="round" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>
