
<ion-content>
  <div class="content"
  style=" width:100%;background:#53bdc4;height: 80px;border-bottom-left-radius: 200px;border-bottom-right-radius:200px ;">
  <ion-icon name="caret-back-outline"  (click)="back()"
    style="margin-left: 20px; width: 25px; height: 25px;margin-bottom: -20px;"></ion-icon>
  <h4 style="justify-content: center; display: flex;color: white;">Profile</h4>
</div>
<br>
  <br><br>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input type="text" [(ngModel)]="userInput"></ion-input>
  </ion-item><br>
  <ion-item>
  <ion-label>Last Name:</ion-label>
    <ion-input type="text" [(ngModel)]="userInput2"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-label>Phone number</ion-label>
      <ion-input type="number" [(ngModel)]="userInput3"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label>Location:</ion-label>
        <ion-input type="text" [(ngModel)]="userInput4"></ion-input>
      </ion-item><br>
  <br>
  <div class="container-fluid" style="margin-left: 6%;">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label>File Uploads</label>
                <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%;" accept="image/*">
            </div><br>
            <!-- <div class="form-group">
              <button type="button" class="btn btn-success" (click)="save()">Submit</button><br><br>
            </div> -->
        </div><br>
        <ion-button (click)="save()" color="dark" shape="round" href="./loginr"><ion-icon name="save-outline" style="width: 25px;height: 25px;" ></ion-icon></ion-button>
    </div>
    


    <br><br><br> 
    
      <table class="table table-bordered">
        <thead class="thead-dark">
          <th> Profile Instant preview</th>
          <br>
          
        </thead>
          <ion-card colour="clear">
            <tbody>
              <tr *ngFor="let image of images">
                <td><img [src] = "image.url" style="text-align:center; justify-content: center; height: 120px; width: 80%; border-radius: 50%; "></td>
                <br>
                <td><a href="javascript:void(0)" (click)="deleteImage(image)">
                  <ion-icon name="trash-outline"></ion-icon>
                </a></td>
              </tr>
             
                
                  <ion-input type="text" style="justify-content: center;" [(ngModel)]="userInput"></ion-input> <br> 
                  <ion-input type="text"  style="justify-content: center;" [(ngModel)]="userInput2"></ion-input><br>
                  <ion-input type="text"  style="justify-content: center;"  [(ngModel)]="userInput3"></ion-input><br>
                  <ion-input type="text"   style="justify-content: center;" [(ngModel)]="userInput4"></ion-input><br>



               
                
            </tbody>
            <!-- <div style="background: #a2cf58; width: 80%; height: 40%;">
                <a href="#">about...</a><br>
                <a href="#">contact...</a><br>
                <a href="#">music...</a><br>
                <a href="#">followers...</a> <br>
                <a href="#">Life events...</a><br>
            </div> -->
          </ion-card>

      </table>
  </div>





</ion-content>
