<ion-content style="background: #a2cf58;"[fullscreen]="true">
       
    
   <div id="bg" style="background: 	#53bec5;">
    <div class="logo">
      <img style="border-radius: 50%;" src="./assets/logo.png">
    </div>
    <ion-card-header >
     
      <ion-card-title style="color: black;">Food lovers, where are y'all at?</ion-card-title>
    </ion-card-header>
  <div class=" buttons">
    <ion-button href="./user" id="btn1" shape="round"color="success">User</ion-button>
    <ion-button href="./resta" id="btn1" shape="round" color="warning"style="margin-left: -18%;" >Restaurant</ion-button>
    
 
  
  
  </div>
    
   </div>
 
  
</ion-content>
