<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Data from user</ion-title>
    <ion-button color="dark" href="./loginr">
      <ion-icon  name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<section>
<ion-card color="success"><h2>Booking History</h2></ion-card>
<br>
<ion-list>
  <ion-item>
    <h4>*****</h4><br>
    <h4>*****</h4><br>
    <h4>*****</h4><br>
  </ion-item>
  <ion-item>
    <h4>*****</h4><br>
    <h4>*****</h4><br>
    <h4>*****</h4><br>
  </ion-item>
</ion-list>
</section>
<section >
  <ion-card color="primary"><h2>Special Occasions</h2></ion-card>
  <br>
  <ion-list>
    <ion-item>
      <h4>*****</h4><br>
      <h4>*****</h4><br>
      <h4>*****</h4><br>
    </ion-item>
    <ion-item>
      <h4>*****</h4><br>
      <h4>*****</h4><br>
      <h4>*****</h4><br>
    </ion-item>
  </ion-list>
  </section>
  <section >
    <ion-card color="danger"><h2>Feedbacks/suggestion Box</h2></ion-card>
    <br>
    <ion-list>
      <ion-item>
        <h4>*****</h4><br>
        <h4>*****</h4><br>
        <h4>*****</h4><br>
      </ion-item>
      <ion-item>
        <h4>*****</h4><br>
        <h4>*****</h4><br>
        <h4>*****</h4><br>
      </ion-item>
    </ion-list>
    </section>

<ion-content>

</ion-content>
