<ion-header>
  <ion-toolbar>
    <ion-title>Restaurant signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="content">
    <ion-button fill="clear" color="dark" size="small" routerLink="/home" routerDirection='root'>
      <p class="signin-text">K-FOOD</p>
    </ion-button>
   
  </div>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Restaurant Name</ion-label>
        <ion-input [(ngModel)]="rname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Registration number</ion-label>
        <ion-input [(ngModel)]="regno" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cell Phone</ion-label>
        <ion-input [(ngModel)]="cellphone" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input [(ngModel)]="cpassword" type="password" (ionChange)="checkPassword()"></ion-input>
        <ion-text *ngIf="password &&!passwordMatch" color="danger">Password do not match</ion-text>
        <ion-text *ngIf="password &&passwordMatch" color="success">Password  match</ion-text>
      </ion-item>
      
    </ion-list>
    
  </div>
  <ion-button [disabled]="!passwordMatch" fill="clear" expand="block" (click)="register() ">Register</ion-button>

  <ion-button fill="clear" href="./resta"style="font-size: 10px;padding-bottom:20px; color:black; margin-right: 10px;
  text-transform: none; font-family: 'Nunito',sans-serif;">Already have an account?</ion-button>

</ion-content>
