 <ion-content >
  <div class="content"
  style=" width:100%; height:10%;background:#53bdc4;height: 80px;border-bottom-left-radius: 200px;border-bottom-right-radius:200px ;">
  <ion-button (click)="logout()" shape="round" color="clear" style="width: 20%;"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  <h4 style="justify-content: center; display: flex;color: white;">Dashboard</h4>
</div>
<br>
  <section text-center>
    
    <h1 style="font-size: 1.4em;margin-left:10px;" no-margin>Welcome </h1>
    <ion-grid>
      <div style="width: 100%;height: 25%; background: #53bdc4; border-top-left-radius: 400px;
      border-top-right-radius: 400px;">
        <ion-row>
          <ion-col col-6 style="align-items: center; justify-content: center;">
            <ion-card text-center padding color="success"  (click)="goToNextPage()">
              <ion-icon name="person"></ion-icon>
              <h2>Profile</h2>
            </ion-card> 
          </ion-col>
          <ion-col col-6>
            <ion-card text-center padding color="warning" (click)="goToNextPage6()" >
              <ion-icon name="settings-outline"></ion-icon>
              <h2>Settings</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding style="background:#53bec5;">
           <img src="./assets/logo.png" style="height: 115px;">
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="danger" (click)="goToNextPage1()">
            <ion-icon name="analytics-outline"></ion-icon>
            <h2>Bookings</h2>
          </ion-card>
        </ion-col>
      </ion-row>
     <div>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="tertiary" (click)="goToNextPage3()">
            <ion-icon name="calendar"></ion-icon>
            <h2>Appointment</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="secondary"  (click)="goToNextPage2()">
            <ion-icon name="grid-outline"></ion-icon>
            <h2>Main menu</h2>
          </ion-card>
        </ion-col>
      </ion-row>
     </div>
    </ion-grid>

    <ion-button shape="round" color="dark" style="margin-left:40%; width: 20%;"  (click)="goToNextPage7()" ><ion-icon name="add-outline"></ion-icon></ion-button>
  </section>
</ion-content>




